.campo {
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
}

.campo label {
    color: hsl(0, 0, 0);
    font-size: 12px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    font-weight: 700;
}

.campo input {
    font-family: 'Raleway', sans-serif;
    padding: .8rem;
    border: none;
    border-bottom: 1px solid hsl(0, 0%, 0%);
    outline: none;
    background-color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 0%);
}

.campo input::placeholder {
    color: hsla(0, 0%, 0%, 0.8);
    font-family: 'Montserrat', sans-serif;
}