.formulario {
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario form {
    width: 80%;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding: 2rem;
}

.formulario form h2 {
    font-size: 30px;
    margin: 0;
    color: hsl(0, 0%, 0%);
    font-weight: 700;
}

.formulario form h3 {
    margin: 0;
    font-size: 16px;
    color: hsla(0, 0%, 0%, 0.8);
    font-weight: 400;
}

@media screen and (min-width: 800px) {
    .formulario form {
        padding: 0;
        width: 60%;
    }
}