.cabecalho {
    display: flex;
    justify-content: center;
    margin: 4rem 0;
}

.cabecalho h1 {
    font-size: 25px;
    margin: 0;
    color: hsl(0, 0%, 0%);
    background-image: 
        linear-gradient(
            hsl(0, 0%, 0%) 20%, 
            hsl(351, 100%, 50%) 50% 60%,
            hsl(56, 100%, 50%) 80%
        );
    background-position: bottom left;
    background-size: 3rem 100%;
    background-repeat: no-repeat;
    padding-left: 4rem;
    letter-spacing: .2rem;
    font-weight: 400;
}

@media screen and (min-width: 800px) {
    .cabecalho {
        margin-top: 0;
    }
}